/*  цвет заголовков #212121 */
/* цвет текста #757575 */
/* доп цвет #2196F3 */
/* цвет лого #2196F3 #000000 */
/* цвет текста героя #FFFFFF */
/* фон героя и футера #2F303A */
/* фон нашей команды F5F4FA */
/* цвет иконок AFB1B8*/

:root {
    --text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --footer-background: #2f303a;
    --extra-background: #f5f4fa;
    --primary-background: #ffffff;
    --icon-color: #afb1b8;
}