.page {
    background-color: var(--primary-background);
    color: var(--title-text-color);
    font-style: normal;
    font-family: roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
}