.logo {
  

    color: #000000;
    text-decoration: none;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;

    @media screen and (min-width:768px) {
margin-right: 88px;}

@media screen and (min-width:1200px) {

font-size: 26px;
    }
}

.logo-accent {
    color: var(--accent-color);
}