.section-title {
    margin-bottom: 50px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.example,
.superiority-section,
.section {
    background-color: var(--primary-background);
}