.section-title {
    margin-bottom: 50px;

    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        }
}

.example,
.superiority-section,
.section {
    background-color: var(--primary-background);
}