.header-page {
padding-top: 16px;
padding-bottom: 16px;
border: 1px solid #ececec;


@media screen and (min-width: 768px) {
padding-top: 26px;
    padding-bottom: 26px;
}

}

.header-list {
display: none;
    
@media screen and (min-width: 768px){
        display: flex;
        align-items: center;
        font-weight: 500;
            font-size: 14px;
            line-height: calc(16/14);
            letter-spacing: 0.02em;
            gap: 50px;
            justify-content: space-between;
    }

@media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
     justify-content: space-between;
    }
}

.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* --------------------------site nav --------------------------*/

.header-container {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
}



.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.link {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .site-nav & {
        color: var(--title-text-color);
        text-decoration: none;
    }
    .site-nav &.current {
        color: var(--accent-color);
        }
        &.current::after {
                    content: "";
                    position: absolute;
        
                    display: block;
                    width: 100%;
                    height: 4px;
                    left: 0;
                    top: 51px;
        
                    background: var(--accent-color);
                    border-radius: 2px;

                    @media screen and (min-width:1200px){
                        top: 49px;
                    }
                }

}

.contact-list {
    display: none;
    @media screen and (min-width: 768px) {
    display: block;
    
    // margin-left: auto;
   }
    

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction:row;
        
    }

}

.contact-item:not(:last-child){
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
        font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;

}
}

.header-block {
    @media screen and (min-width: 768px) {
        // outline: 2px solid red;
        margin-left: auto;
        // font-size: 12px;

    }
}

.menu-open{
    border: none;
    background-color: transparent;
    margin-left: auto;
    padding: 0;
&:hover,
&:focus {
    fill: var(--accent-color);
}

     @media screen and (min-width: 768px) {
        display: none;
        }

}



.mob-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-background);
    top: 0;
    z-index: 1;
    padding: 48px 40px;
    > .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }
    @media screen and (min-width: 768px) {
        display: none;
    
    }
}


.menu-close {
    position: absolute;
    
    top: 10px;
    right:15px;
    display: block;
    // margin-left: auto;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.menu-list {
    font-weight: 500;
        font-size: 30px;
        line-height: 1.175;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        // margin-bottom: 302px;
@media screen and (min-width:480px) {
    font-size: 40px;
}
        

    
}

.menu-list__item {
   
        margin-bottom: 32px;
    
}

.menu-list__link {
    text-decoration: none;
color: var(--title-text-color);
&.current {
        color: var(--accent-color);
    }

}

.mobile-contact {
    font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
        margin-bottom: 64px;
}

.mobile-contact__item:not(:last-child) {
    margin-bottom: 15px;
    @media screen and (min-width:480px) {
       vmargin-bottom: 32px;
    }
   
}

.mobile-contact__link {
    text-decoration: none;
    color: var(--text-color);
}

.mobile-contact-tel{
    font-weight: 500;
    font-size: 22px;
    line-height: calc(40/34);
        letter-spacing: 0.02em;
    color: var(--accent-color);

    @media screen and (min-width:480px) {
            font-weight: 500;
            font-size: 34px;
        }
}

.mobile-contact-email{
    font-weight: 500;
        font-size: 18px;
        line-height: calc(28/24);
        letter-spacing: 0.02em;
        @media screen and (min-width:480px) {
            font-size: 24px;
        }
}


.mobile-social {
    // outline: 2px solid red;
    // position: relative;
    display: flex;
        justify-content: space-between;
        align-items: baseline;
}

.mobile-social__item:not(:last-child):after {
    content: " ";
    // position: absolute;
padding-right: 2px;
    border-right-width: 0.5px;
    border-right-style: solid;
    border-right-color: rgba(33, 33, 33, 0.2);

    @media screen and (min-width:480px) {
        padding-right: 10px;
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: rgba(33, 33, 33, 0.2);
    }

} 


.mobile-social__link {
    font-size: 500;
   font-size: 10px;
    color: var(--accent-color);
    text-decoration: none;
    @media screen and (min-width:480px){
        font-weight: 500;
            font-size: 18px;
    }
}


